.spacer {
    flex: 1 1 auto;
}

.user-card {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

.users {
    padding: 10rem;
    display: flex;
    justify-content: center;
}
