.spacer {
    flex: 1 1 auto;
}

a {
    color: deeppink;
    cursor: pointer;
    text-decoration: deeppink;
}

.user-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: larger;
}

.users {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}
